<div class="container col-md-6 offset-md-3" id="signup__main">
	<div class="card">
		<div class="signup__card-header">
		    <h2>Sign up to learn some recipes</h2>
		 </div>
		<div class="card-body">
		    <h4 class="signup__card-title">Choose one of the following</h4>
		    <hr>
		    <p class="card-text">First & Last Name</p>
		    <input type="text" class="form-control signup__info">
		    <p class="card-text">Username</p>
		    <input type="text" class="form-control signup__info">
		    <p class="card-text">Email</p>
		    <input type="Email" class="form-control signup__info">
		    <p class="card-text">Password</p>
		    <input type="Password" class="form-control signup__info">
		    <p class="card-text">Confirm Password</p>
		    <input type="Password" class="form-control signup__info">
		    <br>
		    <button type="submit" class="btn btn-primary btn-lg btn-block" style="color: black">Sign Me Up!</button>
		    <hr>
				<!-- this is the google signin button -->
		    <p class="card-text" style="text-align: center">Want to sign up with google? Click the following link below</p>
				<div class="g-signin2" data-onsuccess="helloworld"></div>
				<script>
					function helloworld() {
						console.log("Hello");
					};
				</script>
		</div>
	</div>
</div>
