<div class="container col-md-6 offset-md-3" id="signup__main">
	<div class="card">
		<div class="signup__card-header">
		    <h2>Sign up to learn some recipes</h2>
		 </div>
		<div class="card-body">
			<form (ngSubmit)="onSubmit(f)" #f="ngForm">
		    <h4 class="signup__card-title">Please enter your desired display name and a short bio about yourself.</h4>
		    <p class="card-text">Display Name</p>
		    <input type="text" class="form-control signup__info" placeholder="TopChef75" ngModel name="username">
		    <p class="card-text">Description</p>
		    <textarea placeholder="Tell us about yourself!" ngModel name="description"></textarea>
				<hr>
				<button type="submit" class="btn btn-primary btn-lg btn-block" style="color: black">Sign Me Up!</button>
			</form>
			<br>
		</div>
	</div>
</div>
