<div class="row">
    <div class="col-md-8">
        <!-- TODO link to recipe page -->
        <h4><a routerLink="/recipe/{{recipe.recipe_id}}">{{recipe.name}}</a></h4>
        <!--  TODO link to profile page-->
        <small>Recipe by | <a routerLink="/user/{{recipe.author}}">{{recipe.author}}</a></small>
        <p>Rating: {{recipe.getRating()}}</p>
        <p>{{recipe.description}}</p>
    </div>
    <div class="recipeImage col-md-4">
        <!-- TODO link to recipe page -->
        <a routerLink="/recipe/{{recipe.recipe_id}}"><img src="{{recipe.photo}}" height="100%" width="100%"></a>
    </div>
</div>

<div class="recipe-border"></div>
