<div class="container col-md-6 offset-md-3" id="signin__main">
    <div class="about_page">
        <div class="signin__card-header">
            <h1 style="font-family: lobster">About</h1>
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-12">
                    </div>
                    <div class="col-lg-12">
                        <div style="text-align: center; font-family: Nunito;font-weight:40px;" id="aboutContent">
                            <p>Welcome to The Starving Slugs webpage!</p>
                            <p>This website was made to connect hungry slugs such as yourself with other "chefs" so that you may be able to find easy to make recipes uploaded from other chefs.</p>
                            <p>This website was developed by a team of six memebers, all of which at the time were undergraduate students at the Univerity of California, Santa Cruz.</p>
                            <p>Those students are:</p>
                            <ul style="list-style: none;">
                                <li>Justin Ramiscal</li>
                                <li>Danny Boyd</li>
                                <li>Karen Lee</li>
                                <li>Shashank Guduru</li>
                                <li>Tianyi Zhang</li>
                                <li>Kevin Loi</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
