
<div class=".profile__container">
  <div class="row">
    <div class="col-lg-3 col-sm-6">
            <div class="card hovercard">
                <div class="cardheader">

                </div>
                <div class="avatar">
                    <img alt="" src="http://www.thehindu.com/sci-tech/technology/internet/article17759222.ece/alternates/FREE_660/02th-egg-person">
                </div>
                <div class="info">
                    <div class="title">
                        <a target="_blank" href="http://scripteden.com/">Name</a>
                    </div>
                    <div class="desc">Discription 1</div>
                    <div class="desc">Discription 2</div>
                    <div class="desc">Discription 3</div>
                </div>
            </div>
        </div>
  </div>
</div>
