<div class="container col-md-6 offset-md-3" id="signin__main">
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-md-12">
                    <form (ngSubmit)="onSubmit()" #f="ngForm">
                        <div class="row">
                            <div class="col-md-4">
                                <small>
                                    Refine by:
                                    <input type="checkbox"> Author
                                    <input class="authorFilter" type="text" placeholder="enter author" ngModel name="author">
                                    <input type="checkbox"> Tag
                                    <input class="tagFilter" type="text" placeholder="enter tag" ngModel name="tag">
                                    <input type="checkbox"> Name
                                    <input class="nameFilter" type="text" placeholder="enter recipe name" ngModel name="name">
                                </small>
                            </div>
                            <div class="col-md-7">
                                <input onkeyup="myFunction()" style="float: right; "type="text" class="form-control">
                            </div>
                            <div class="col-md-1">
                                <button style="float: right;" class="btn btn-primary" type="submit" placeholder="">Filter</button>
                            </div>
                        </div>
                    </form>
                </div>
                <div *ngFor="let recipe of recipes" class="col-md-12 searchResults">
                    <ul class="recipes">
                        <li class="row">
                            <div class="col-md-8">
                                <!-- TODO link to recipe page -->
                                <h4><a href="#">{{recipe.name}}</a></h4>
                                <!--  TODO link to profile page-->
                                <small>Recipe by | <a href="#">{{recipe.author}}</a></small>
                                <p>Rating: {{recipe.getRating()}}</p>
                                <p>{{recipe.description}}</p>
                            </div>
                            <div class="recipeImage col-md-4">
                                <!-- TODO link to recipe page -->
                                <a href="#"><img src="{{recipe.photo}}" height="100%" width="100%"></a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    alert('fuck you!');
</script>
