<div class="recipe__container">
    <div class="recipe__header row">
        <div class="col-sm-8">
            <h3>Recipe Name</h3>
            <h4>Author</h4>
            <p>Description: Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec velit mauris, aliquam quis euismod sed, ultrices sit amet dui. Vestibulum non ligula pellentesque, consequat dui et, molestie nunc. Donec malesuada mi id eros congue sagittis. Maecenas in ex nec nibh finibus mattis. Fusce id ullamcorper augue, quis ultrices leo. Curabitur viverra pharetra imperdiet. Mauris laoreet vulputate volutpat. Curabitur et eleifend erat.
            </p>
        </div>

        <div class="col-sm-4">
            <img src="../../../../assets/photos/logo.png" class="recipe__picture">
        </div>
    </div>
    <div class="row">
        <div class="recipe__ingredients col-sm-3">
            <h4>Ingredients</h4>
            <ul style="list-style-type:none">
                <li>One</li>
                <li>Two</li>
                <li>Three</li>
            </ul>
        </div>
        <div class="recipe__directions col-sm-8">
            <h4>Directions</h4>
            <h5>Step 1</h5>
            <p>Prep</p>
            <h5>Step 2</h5>
            <p>Cook</p>
            <h5>Step 3</h5>
            <p>Eat</p>
        </div>
    </div>
    <div class="recipe__tags row">
        <h5>Categories</h5>
        <a href="/recipe">Tag 1</a>
        <a href="/recipe">Tag 2</a>
        <a href="/recipe">Tag 3</a>
    </div>
</div>