<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">

<div style="margin: 100px auto;" class="container col-md-8" id="signup__main">
    <div class="card">
        <div class="card-body">
            <div class="recipe__container">
                <div class="recipe__header row">
                    <div class="col-sm-8">
                        <h3>{{recipe.name}}</h3>
                        <a routerLink="/user/{{recipe.author}}"><h4>{{recipe.author}}</h4></a>
                        <p>Rating: {{recipe.rating.average}} | Price: {{recipe.price}}</p>
                        <p>{{recipe.description}}</p>
                        <!--<button class="recipe__button">Save to Library</button>-->
                    </div>
                    <div class="col-sm-4">
                        <img [src]="recipe.photo" class="recipe__picture">
                    </div>
                </div>
                <div class="row">
                    <div class="recipe__ingredients col-sm-3">
                        <h4>Ingredients</h4>
                        <div class="row" *ngFor="let ingredient of recipe.ingredients">
                            <div class="recipe__ingredients-amount">
                                <p>{{ingredient.amount}}</p>
                            </div>
                            <div>
                                <p>{{ingredient.text}}</p>
                            </div>
                        </div>
                    </div>
                    <div class="recipe__directions col-sm-8">
                        <h4>Directions</h4>
                        <div class="recipe__steps" *ngFor="let direction of recipe.directions; let i = index" [attr.data-index]="i">
                            <h5>Step {{i + 1}}</h5>
                            <p>{{direction}}</p>
                        </div>
                    </div>
                </div>
                <h4 style="margin-left:1em">Rate this Recipe</h4>
                <p *ngIf="_username == ''" style="margin-bottom: 10px; margin-left: 50px;">Sign in to rate this recipe.</p>
                <div *ngIf="_username != ''" style="margin-bottom: 10px; margin-left: 50px;" class="stars">
                    <form #ratingForm="ngForm" (ngSubmit)="submitRating(ratingForm)">
                        <input class="star star-5" id="star-5" type="radio" name="star" [value]="5" ngModel/>
                        <label class="star star-5" for="star-5"></label>
                        <input class="star star-4" id="star-4" type="radio" name="star" [value]="4" ngModel/>
                        <label class="star star-4" for="star-4"></label>
                        <input class="star star-3" id="star-3" type="radio" name="star" [value]="3" ngModel/>
                        <label class="star star-3" for="star-3"></label>
                        <input class="star star-2" id="star-2" type="radio" name="star" [value]="2" ngModel/>
                        <label class="star star-2" for="star-2"></label>
                        <input class="star star-1" id="star-1" type="radio" name="star" [value]="1" ngModel/>
                        <label class="star star-1" for="star-1"></label>
                        <button type="submit" class="btn btn-primary">Submit Rating</button>
                    </form>
                </div>
                <div class="recipe__tags row">
                    <h5>Categories</h5>
                    <p *ngFor="let tag of recipe.tags"><a [routerLink]="['/search']" [queryParams]="{name: '', author: '', tag: tag}">{{tag}}</a></p>
                </div>
            </div>
        </div>
    </div>
    <hr>
</div>
