<div class="container">

  <!-- hamburger for mobile -->
  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#hamburger" aria-expanded="false">
    <span class="sr-only">Toggle navigation</span>
    <i class="fas fa-chevron-circle-down"></i>
  </button>

  <!-- navbar logo -->
  <div class="navbar-header">
    <a class="navbar-brand header" href="grid.html"><div class="image image1" id="logo" title="the hungry slug"></div>Starving Slug</a>
  </div>

  <!-- hamburger dropdown -->
  <div class="collapse navbar-collapse" id="hamburger">
    <ul class="nav navbar-nav">
      <li><a href="www.google.com"><i class="far fa-comments"></i> About</a></li>
      <li><a href="www.google.com"><i class="fas fa-phone"></i> Contact</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="www.google.com"><i class="fas fa-user"></i> Sign up</a></li>
      <li><a href="www.google.com"><i class="fas fa-sign-in-alt"></i> Login</a></li>
    </ul>
  </div>
</div>
