<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <!-- brand -->
        <a routerLink="" class="navbar-brand">Starving Slug</a>

        <!-- hamburger -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

        <!-- hamburger content -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a routerLink="/about" class="nav-link"><i class="far fa-comments"></i> About</a>
                </li>
                <!--<li class="nav-item">
                    <a routerLink="notfound" class="nav-link"><i class="fas fa-phone"></i> Contact</a>
                </li>-->


                <li class="nav-item" *ngIf="!activeSession">
                    <!-- <google-signin [clientId]="myClientId" [width]="myWidth" [theme]="myTheme" [scope]="myScope" [longTitle]="'Sign In With Google'" (googleSignInSuccess)="signIn($event)">
                    </google-signin> -->
                </li>
            </ul>

            <div>
                <form class="form-inline my-2 my-lg-0" (ngSubmit)="onSubmit(f)" #f="ngForm" *ngIf="!onSearch">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search recipes..." aria-label="Search" ngModel name="name">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Submit</button>
                </form>
            </div>


            <div style="float: right;">
                <li class="nav-item" *ngIf="activeSession">
                    <span style="color: white;" >{{user.username}}</span>
                    <img routerLink="/user/{{user.username}}" id="profileImage" src="{{user.image}}" width="40px" length="40px">

                    <button class="btn" (click)="signOut()">Sign Out</button>
                </li>
                <li class="nav-item" *ngIf="!activeSession">
                  <div class="col-md-12">
                      <google-signin [clientId]="myClientId" [width]="myWidth" [theme]="myTheme" [scope]="myScope" [longTitle]="'Sign In With Google'" (googleSignInSuccess)="signIn($event)">
                      </google-signin>
                  </div>
                </li>
            </div>

        </div>
    </div>
</nav>
