html {
    height: 100%;
}

div.abcRioButton.abcRioButtonLightBlue {
    margin: auto;
}

body {
  font-family: 'Roboto', sans-serif;
	background-image: url(./assets/photos/hero.png);
	background-size: cover;
	background-position: center;
	background-repeat: none;
	background-attachment: fixed;
	color: black;
}

html, body {
   height: 100%;
   width: 100%;
   margin: 0;
   padding: 0;
}
.container_p{
    width: 100%;
    height:100%;
}

.image {
    width: 25px;
    height: 20px;
    background-size: cover;
    background-position: center center;
}

.image1 {
    background-image: url(./assets/photos/logo.png);
}

#logo {
    float: left;
    margin-right: 5px;
}

#content {
	font-family: 'Lobster', cursive;
	color: white;
	text-align: center;
	padding-top: 25%;
	text-shadow: 0px 4px 3px rgba(0,0,0,.4),
				 0px 8px 13px rgba(0,0,0,.1),
				 0px 18px 23px rgba(0,0,0,.1);
}

.btn-default {
    border: none;
}
.delete_rec_btn{
    float:right;
    top:5px;
    margin-left: 0.5em;
}
.btn-default:hover {
    color: white;
    background-color: rgba(0,0,0,.35);
}

h1 {
    font-size: 5em;
}

h3 {
    font-size: 2.5em;
}

hr {
    width: 400px;
    border-top: 1px solid #f8f8f8;
    border-bottom: 1px solid rgba(0,0,0,.2);
    max-width: 90%;

}

/* navbar css */

#profileImage{
    border-radius: 100px;
    border: 1px solid white;
}

#profileImage:hover{
    cursor: pointer;
    width: 45px;
    length: 45px;
}

.bg-light {
    background-color: rgba(0,0,0,.35) !important;
    border: none;
}

.navbar-light .navbar-brand {
	color: white;
	font-family: 'Lobster',cursive;
}

.navbar-light .navbar-brand:hover {
    color: lightgrey;
}

.navbar-light .navbar-nav .nav-link {
    color: white;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: lightgrey;
}
/* end navbar css */

/* signin page CSS */
.signin__card-header {
	text-align: center;
}

.signin__card-title {
	text-align: center;
}

.signin__info {
	margin: 0px 0px 10px 0px;
}

#signin__main {
	margin: 6% 25%;
	opacity: 0.90;
}
/* end signin CSS */

/* signup page CSS */
.signup__card-header {
    text-align: center;
}

.signup__card-title {
    text-align: center;
}

.signup__info {
    margin: 0px 0px 10px 0px;
}

#signup__main {
    margin: 6% 25%;
    opacity: 0.90;
}
.about_page{
    position: center;
    padding-top: 50px;
    padding-bottom: 2rem;
    margin-bottom: 20px;
    overflow: hidden;
    text-align: center;
    background-color:  #ffbb99;
    width: 100%;
    height: 20%;
    border:none;
    border-color: none;
    overflow: auto;
    border-radius: 0.5em;

}
/* end signup CSS */

/* Profile page CSS */
.profile__container {
	padding-top: 3em;
	margin: 0 5% 0em 5%;
	background: #FFFFFF;
}

.card.hovercard {
    position: center;
    padding-bottom: 0px;
    overflow: hidden;
    text-align: center;
    background-color: #FFFFFF;
    width: 100%;
    height: 35%;
    border-style: groove;
    border-color:  none;
}
.hovercard_bottom {
    position: center;
    padding-top: 50px;
    padding-bottom: 2rem;
    margin-bottom: 20px;
    overflow: hidden;
    text-align: center;
    background-color:  #ffbb99;
    width: 100%;
    height: 20%;
    border-style: groove;
    border-color: none;
    overflow: auto;

}
.show_comment{
    position: center;
    padding-top: 50px;
    padding-bottom: 2rem;
    margin-bottom: 20px;
    overflow: hidden;
    text-align: center;
    background-color:  #ffbb99;
    width: 100%;
    height: 28%;
    border-style: groove;
    border-color: none;
    overflow: auto;
}

::-webkit-scrollbar{
    width: 12px;
}
::-webkit-scrollbar-track {
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb
{
    background-color:#ffa64d;
    border-radius:10%;
;
}
.rating_box {
    position: center;
    padding-top: 50px;
    overflow: hidden;
    text-align: center;
    background-color:#ffbb99;
    width: 100%;
    height: 450px;
    border-style: groove;
    border-color:  none;
}

.card.hovercard .cardheader {
    background:url("https://foodimentaryguy.files.wordpress.com/2011/06/background-pattern.gif");
    background-size: cover;
    height: 60%;
}

.card.hovercard .avatar img {
    width: 15rem;
    height: 15rem;
    max-width: 20rem;
    max-height: 20rem;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 5px solid rgba(255,255,255,0.5);
}

.card.people .card-info .desc {
    display: block;
    margin: 8px 14px 0 14px;
    overflow: hidden;
    font-size: 12px;
    line-height: 16px;
    color: #737373;
    text-overflow: ellipsis;
}

.card.hovercard .info .desc {
    overflow: hidden;
    font-size: 25px;
    line-height: 20px;
    color: #262626;
    text-overflow: ellipsis;
    padding-bottom: 2rem;
}

.card .card-heading {
    padding: 0 20px;
    margin: 0;
}

.card .card-heading.simple {
    font-size: 20px;
    font-weight: 300;
    color: #777;
    border-bottom: 1px solid #e5e5e5;
}

.card .card-heading.image img {
    display: inline-block;
    width: 46px;
    height: 46px;
    margin-right: 15px;
    vertical-align: top;
    border: 0;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.card .card-heading.image .card-heading-header {
    display: inline-block;
    vertical-align: top;
}

.card .card-heading.image .card-heading-header h3 {
    margin: 0;
    font-size: 14px;
    line-height: 16px;
    color: #262626;
}

.card .card-heading.image .card-heading-header span {
    font-size: 12px;
    color: #999999;
}

.card .card-body {
    padding: 0 20px;
    margin-top: 20px;
}

.card .card-media {
    padding: 0 20px;
    margin: 0 -14px;
}

.card .card-media img {
    max-width: 100%;
    max-height: 100%;
}

.card .card-actions {
    min-height: 30px;
    padding: 0 20px 20px 20px;
    margin: 20px 0 0 0;
}

.card .card-comments {
    padding: 20px;
    margin: 0;
    background-color: #f8f8f8;
}

.card .card-comments .comments-collapse-toggle {
    padding: 0;
    margin: 0 20px 12px 20px;
}

.card .card-comments .comments-collapse-toggle a,
.card .card-comments .comments-collapse-toggle span {
    padding-right: 5px;
    overflow: hidden;
    font-size: 12px;
    color: #999;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.card-comments .media-heading {
    font-size: 13px;
    font-weight: bold;
}

.card.people {
    position: relative;
    display: inline-block;
    width: 170px;
    height: 300px;
    padding-top: 0;
    margin-left: 20px;
    overflow: hidden;
    vertical-align: top;
}

.card.people:first-child {
    margin-left: 0;
}

.card.people .card-top {
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    width: 17rem;
    height: 15rem;
    background-color: #ffffff;
}

.card.people .card-top.green {
    background-color: #53a93f;
}

.card.people .card-top.blue {
    background-color: #427fed;
}

.card.people .card-info {
    position: absolute;
    top: 150px;
    display: inline-block;
    width: 100%;
    height: 10rem;
    overflow: hidden;
    background: #ffffff;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.card.people .card-info .title {
    display: block;
    margin: 8px 14px 0 14px;
    overflow: hidden;
    font-size: 16px;
    font-weight: bold;
    line-height: 18px;
    color: #404040;
}

.card.people .card-bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    display: inline-block;
    width: 100%;
    padding: 10px 20px;
    line-height: 29px;
    text-align: center;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.card.hovercard .avatar {
    position: relative;
    top: -50px;
    margin-bottom: -50px;
}

.card.hovercard .avatar img {
    width: 250px;
    height: 250px;
    max-width: 200px;
    max-height: 200px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 5px solid rgba(255,255,255,0.5);
}

.card.hovercard .info {
    padding: 4px 8px 10px;
}



.card.hovercard .info .title {
    margin-bottom: 4px;
    font-size: 40px;
    line-height: 1;
    color: #262626;
    vertical-align: middle;
}

.card.hovercard .bottom {
    padding: 0 20px;
    margin-bottom: 17px;
}

.recipe_text{
   text-align: left;
   font-size: 20px;
   margin-left: 20px;
   margin-right: 20px;
   margin-top:20px;
   padding: 1rem;
   border: 1px solid #111111;
   box-shadow: rgba(0, 0, 0, 0.5) 0 5px 25px;
}
.comment_text{
   text-align: left;
   font-size: 20px;
   margin-left: 20px;
   margin-right: 20px;
   margin-top:20px;
   padding: 1rem;
   border: 1px solid #111111;
   box-shadow: rgba(0, 0, 0, 0.5) 0 5px 25px;
}
.comment_box{
     background-color: #ff9966;
     border-style: inset;
     border-color: black;
     width: 100%;
     height: 200px;
     padding: 12px ;
     box-sizing: border-box;
     text-align: left;
     line-height: normal;
}
textarea.comment_box{
    font-size: 25px;
}

.comment_style_author{
    font-family: Arial, cursive, sans-serif;
    font-size: 20px;
    font-weight: 900;
    float:left;
    padding:20px;

}
.comment_style_post{
    font-family: Arial, cursive, sans-serif;
    font-size: 20px;
    float:left;
    font-weight: 500;
    padding:20px;

}
.comment_style_comment{
    font-family: "Times New Roman", Times, serif;
    font-size: 20px;
    float:left;
    padding:20px;

}
.comment_style_title{
    font-family: Arial, cursive, sans-serif;
    font-size: 20px;
    float:left;
    padding:15px;
}
.profile_desc{
    font-family: Comic Sans MS, cursive, sans-serif;
}
.profile_name{
   font-family:lobster, sans-serif;
   font-size: 45px;
}
.flexbox .stretch { flex: 1; }

/* end Profile CSS */


/* Recipe Page CSS */
.recipe__container {
    padding-top: 3em;
    margin: 0 5% 0em 5%;
    background: #FFFFFF
}

.recipe__header {
    padding-bottom: 2em;
    border-bottom: 3px solid black;
    margin: 0 2em 0 2em;
}

.recipe__button {
    margin-top: 3em;
    background: #E33D26;
    color: white;
    padding: 0.3em 0.8em;
    border-radius: 0.5em;
    cursor: pointer;
    border: solid 1px #E33D26;
}

.recipe__button:hover {
    color: #E33D26;
    background-color: #FFFFFF;
}

.recipe__picture {
    width: 15rem;
    height: 15rem;
}

.recipe__ingredients {
    margin-left: 2.7em;
    padding: 1em 0 2em 0;
}

.recipe__ingredients p {
    margin: 0;
}

.recipe__ingredients-amount {
    margin: 0 0.5em 0 1.5em;
    width: 2em;
    text-align: right;
}

.recipe__directions {
    padding: 1em 0 2em 1.5em;
}

.recipe__steps {
    margin: 0 1em 0 1em;
}

.recipe__steps p {
    margin-top: -0.4em;
}

.recipe__tags {
    padding: 1em 0 1em 0;
    margin: 0 2em 0 2em;
    border-top: 2px solid gray;
}

.recipe__tags a {
    margin-left: 1em;
}
/* End of Recipe page CSS */

/* SearchPage CSS */
.hide {
    display: none;
}

.recipes {
    border-top: 1px solid #e4e4e4;
    margin-top: 20px;
    width: 100%;
    padding: 50px;
}

.recipe-border{
    border-bottom: 1px solid lightgrey;
}

h4 {
    padding-top: 10px;
}

.authorFilter {
    display: none;
}

.tagFilter {
    display: none;
}

.nameFilter {
    display: none;
}

input[type='checkbox']:checked + input[type='text'].authorFilter{
    display: block;
    float: right;
}

input[type='checkbox']:checked + input[type='text'].tagFilter{
    display: block;
    float: right;
}

input[type='checkbox']:checked + input[type='text'].nameFilter{
    display: block;
    float: right;
}

div.recipeImage.col-md-4 {
    margin-top: 15px;
    margin-bottom: 15px;
    width: 350px;
    height: 200px;
    padding: 0;
}

ul.recipes {
    list-style: none;
    padding: 0;
}

/* End of Search Page CSS */

/* Rating system CSS */
.rating {
    float:left;
}

/* :not(:checked) is a filter, so that browsers that don’t support :checked don’t
   follow these rules. Every browser that supports :checked also supports :not(), so
   it doesn’t make the test unnecessarily selective */
.rating:not(:checked) > input {
    position:absolute;
    top:-9999px;
    clip:rect(0,0,0,0);
}

.rating:not(:checked) > label {
    float:right;
    width:1em;
    padding:0 .1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:200%;
    line-height:1.2;
    color:#ddd;
    text-shadow:1px 1px #bbb, 2px 2px #666, .1em .1em .2em rgba(0,0,0,.5);
}

div.stars {
  width: 270px;
  display: inline-block;
}

input.star { display: none; }

label.star {
  float: right;
  padding: 10px;
  font-size: 36px;
  color: #444;
  transition: all .2s;
}

input.star:checked ~ label.star:before {
  content: '\f005';
  color: #FD4;
  transition: all .25s;
}

input.star-5:checked ~ label.star:before {
  color: #FE7;
  text-shadow: 0 0 20px #952;
}

input.star-1:checked ~ label.star:before { color: #F62; }

label.star:hover { transform: rotate(-15deg) scale(1.3); }

label.star:before {
  content: '\f006';
  font-family: FontAwesome;
}

.sub_button{
    font-family:'lobster';
    width:100px;height:50px;
    font-size: 20px;color: white;
    background: #E33D26;
    border-radius: 0.5em;
    padding-top: 5px;
    left:5px;
}
.profile_comment{
    padding-left: 15px;
    padding-bottom: 5px;
    width:100%;
}

.button_box{
    padding-top: 0px;
    padding-left: 10px;
    display: inline;
    float:left;
}

/* End of Rating system CSS */

/* Recipe Form CSS */
.recipe-form__button {
    margin: 0.5em 0 1.5em 0;
    background: #E33D26;
    color: white;
    padding: 0.3em 0.8em;
    border-radius: 0.5em;
    cursor: pointer;
    border: solid 1px #E33D26;
}

.recipe-form__button:hover {
    color: #E33D26;
    background-color: #FFFFFF;
}

/* End of Recipe Form CSS */
